name: test
on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v2
        with:
          mise_toml: |
            [tools]
            cmake = "latest"
            ninja = "latest"
      - name: configure
        run: cmake . -B build -G Ninja -D BUILD_TESTING=ON
      - name: build
        run: cmake --build build
      - name: testing
        run: ctest --test-dir build -j

